<!--<p style="color: green"><%#= notice %></p>-->

<%# content_for :title, "Documents" %>

<!--<h1>Documents</h1>-->

<!--<div id="documents">-->
<%# @documents.each do |document| %>
<%#= render document %>
<!--    <p>-->
<%#= link_to "Show this document", document %>
<!--    </p>-->
<%# end %>
<!--</div>-->

<%#= link_to "New document", new_document_path %>

<div class="col-lg-12">
  <%= flash[:notice] %>
  <div class="card rounded-0 mt-5 mb-5">
    <h2 class="text-center">List of Documents </h2>
  </div>
  <%= link_to "Create New", new_document_path, class: "btn btn-primary btn mb-4 rounded-0" %>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Doc Type</th>
      <th>Employee Name</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.name %></td>
        <td><%= document.doc_type %></td>
        <td><%= link_to "#{document.employee.name}",employee_path(document.employee) %></td>
        <td>
          <%= link_to "View", document_path(document), class: "btn btn-outline-info btn-sm rounded-0" %>
          <%= link_to "Edit", edit_document_path(document), class: "btn btn-outline-warning btn-sm rounded-0" %>
          <%= link_to "Delete", document_path(document), method: :delete, data: { confirm: "Are you sure you want to delete this employee?" }, class: "btn btn-outline-danger btn-sm rounded-0" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>