<!--<p style="color: green"><%#= notice %></p>

<%#= render @document %>

<div>
  <%#= link_to "Edit this document", edit_document_path(@document) %> |
  <%#= link_to "Back to documents", documents_path %>

  <%#= button_to "Destroy this document", @document, method: :delete %>
</div>-->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-7">
      <div class="card rounded-0 mt-5 mb-5">
        <div class="card-body px-4 py-5">
          <h2 class="text-center mb-4">Employee Details</h2>

          <div class="d-flex justify-content-between align-items-center border-bottom py-3 px-3 mb-2">
            <strong class="me-3">Employee Name</strong>
            <span><%= @document.employee.name %></span>
          </div>
          <div class="d-flex justify-content-between align-items-center border-bottom py-3 px-3 mb-2">
            <strong class="me-3">Name</strong>
            <span><%= @document.name %></span>
          </div>

          <div class="d-flex justify-content-between align-items-center border-bottom py-3 px-3 mb-2">
            <strong class="me-3">Doc Type</strong>
            <span><%= @document.doc_type %></span>
          </div>

          <div class="text-center mt-4">
            <%= link_to "Back to List", documents_path, class: "btn btn-secondary me-2" %>
            <%= link_to "Edit", edit_document_path(@document), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

